.button {
  padding: 4px 32px;
  border-radius: 80px;
  color: #ffffff;
  background: #28B5B5;
  transition: all ease-out 400ms;
  font-size: 18px;
  text-transform: lowercase;
  border: none;
  outline: none;

  &:hover {
    color: #ffffff;
    background: #8FD9A8;
  }

  &.is-green {
    background: #8FD9A8;

    &:hover {
      transform: scale(1.1);
    }
  }

  &.is-large {
    padding: 4px 38px;
    font-weight: 800;
    font-size: 28px;
    height: 60px;
  }

  &.is-hollow {
    &.is-white {
      border: 1px solid #fff;
      background: transparent;
    }
  }

  &.is-yellow {
    background: #F8B400;
  }
}