body {
  min-height: 100vh;
  background: #ffffff;
  padding-top: 92px;

  @media screen and (max-width: 1024px) {
    padding-top: 70px;
  }
}

.section {
  padding: 40px 200px;

  @media screen and (max-width: 1024px) {
    padding: 30px 120px;
  }

  @media screen and (max-width: 768px) {
    padding: 20px 40px;
  }
}