body {
  min-height: 100vh;
  background: #ffffff;
  padding-top: 80px;

  @media screen and (max-width: 1024px) {
    padding-top: 56px;
  }
}

.section {
  padding: 40px 250px;

  @media screen and (max-width: 1024px) {
    padding: 30px 120px;
  }

  @media screen and (max-width: 768px) {
    padding: 20px 40px;
  }

  @media screen and (max-width: 420px) {
    padding: 20px 30px;
  }
}