.modal {
  &.is-active {
    z-index: 100;
  }

  .modal-background {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .modal-content {
    padding: 50px;
    position: relative;

    .modal__body {
      background: #fff;
      border-radius: 20px;
      padding: 30px;
      max-height: 100%;
      overflow: auto;

    }

    .modal-close {
      position: absolute;
      background-image: url("../images/RiverDrina_yellow-shape.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &:hover,
      &:focus {
        background-color: unset;
      }

      &.is-large {
        height: 70px;
        max-height: 70px;
        max-width: 70px;
        min-height: 70px;
        min-width: 70px;
        width: 70px;
      }
    }

  }
}