@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');
@charset "UTF-8";

$body-font: 'Poppins', sans-serif;

body, p {
  color: #083C5A;
  font-family: 'Poppins', sans-serif;
}

p {
  @media screen and (max-width: 760px)  {
    text-align: center;
  }

  @media (min-resolution: 108dpi) {
    font-size: 14px;
  }
}

h1, h2 {
  color: #28B5B5;
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
  margin-bottom: 15px;

  .wave {
    display: block;
    max-width: 58px;
    padding: 0 4px;
  }
}

.has-wave-right {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: 768px)  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.has-wave-left {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (max-width: 768px)  {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.has-wave-centered {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 48px;

  @media screen and (max-width: 760px)  {
    font-size: 34px;
  }
}

h2 {
  font-size: 54px;
  font-weight: 700;

  @media screen and (max-width: 1024px) {
    font-size: 44px;
  }

  @media screen and (max-width: 768px) {
    font-size: 42px;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 420px) {
    font-size: 38px;
  }
}

h3 {
  font-size: 36px;

  @media (min-resolution: 108dpi) {
    font-size: 34px;
  }

  @media screen and (max-width: 1024px) {
    font-size: 34px;
  }

  @media screen and (max-width: 768px) {
    font-size: 32px;
  }

  @media screen and (max-width: 420px) {
    font-size: 28px;
  }
}

h4 {
  font-size: 26px;

  @media screen and (max-width: 768px) {
    font-size: 20px;
  }

  @media screen and (max-width: 420px) {
    font-size: 18px;
  }
}

a {
  color: #28B5B5;
  transition: all ease-out 400ms;

  &:hover {
    color: #8FD9A8;
  }
}